[Desktop Entry]
Type=Application
Version=1.1.2-SNAPSHOT-d3eaee5
Name=KeyTray
Comment=Tray application to show battery level of Keychron devices
Exec=keytray
Terminal=false
Categories=Utility
Icon=keytray
